/* Avoid default max-width: 100%; to display map controls correctly */
li.gmap {
    overflow: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}

li.gmap img {
    max-width: none;
}