{% extends "wagtailadmin/skeleton.html" %}
{% load compress wagtailadmin_tags %}
{% load wagtailgmaps_tags %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}wagtailadmin/{% wagtail_version %}/vendor/jquery-ui/jquery-ui-1.10.3.verdant.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}wagtailadmin/{% wagtail_version %}/core.{% wagtail_version %}" type="text/{% wagtail_version %}" />
        <link rel="stylesheet" href="{{ STATIC_URL }}wagtailgmaps/css/admin.css" type="text/css" />
    {% endcompress %}

    {% block extra_css %}{% endblock %}
{% endblock %}

{% block js %}
     <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    {% compress js %}
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery-1.10.3.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery-ui-1.10.3.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery.datetimepicker.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery.autosize.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery.dlmenu.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/core.js"></script>
        {% main_nav_js %}
    {% endcompress %}
    
    {% block extra_js %}{% endblock %}
{% endblock %}